.Contratar {
    margin: 20px 0 20px 0;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: rgb(2, 167, 2);
    cursor: pointer;
    color: white;
}

.Contratar:hover {
    background: white;
    color: rgb(2, 167, 2);
}

.Avaliar {
    margin: 20px 0 20px 0;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: rgb(255, 217, 0);
    cursor: pointer;
    color: rgb(0, 0, 0);
}