.modalSucess-backdrop {
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.closeModal {
    position: fixed;
    left: 90vw;
    bottom: 90vh;
    cursor: pointer;
}

.modalSucess-container {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 25vh;
    border-radius: 50px;
}

.modalSucess-container h1 {
    color: rgb(136, 179, 71);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}