.tableLine-container {
    background: rgb(19, 202, 74);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    border-bottom: 15px solid rgba(14, 55, 58, 0.253);
}

.tableLine-container img {
    margin-top: 10px;
    width: 40px;
}

.tableLine-container p {
    padding: 5px;
}