.tableLine-container {
    background: rgb(19, 202, 74);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    border-bottom: 15px solid rgba(14, 55, 58, 0.253);
}

.supplierInfo {
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    width: 160px;
}

.supplierInfo p {
    padding: 5px;
}