.tableLine-container {
    background: rgb(21, 197, 109);
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    border-bottom: 15px solid rgba(14, 55, 58, 0.253);
}

.supplierInfo {
    display: flex;
    align-items: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40%;
}

.supplierInfo-ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

.logo img {
    width: 160px;
    border-radius: 20px;
    margin-left: 100%;
}