.tableLine-container {
    background: rgb(21, 197, 109);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    border-bottom: 15px solid rgba(14, 55, 58, 0.253);
}

.supplierInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.supplierInfo li {
    list-style-type: none;
}

.logo img {
    width: 160px;
}

.supplierInfo p {
    padding: 5px;
}

.tableLine-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}