.signUpForm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 68, 67);
    min-height: 100vh;
}

.signUp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15172b;
    box-sizing: border-box;
    width: 30vw;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
}

.title {
    color: white;
    margin-bottom: 15px;
}

.error {
    color: white;
    background-color: crimson;
    border-radius: 5px;
    height: 25px;
}

.signUp-form label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: larger;
    color: rgb(255, 253, 253);
    margin: 10px 0 10px 0;
}

.signUp-form input {
    font-size: larger;
    height: 50px;
    width: 320px;
    border: 0;
    border-radius: 12px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 18px;
    outline: 0;
    padding: 4px 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signUp-form button {
    margin-top: 50px;
    width: 160px;
    height: 50px;
    border-radius: 12px;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(15, 192, 30);
    color: white;
    font-size: larger;
}

.signUp-form button:hover {
    background-color: white;
    color: rgb(15, 192, 30);
}

.registred-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(88, 88, 230);
    color: white;
    width: 30vw;
    height: 50px;
    border-radius: 12px;
}

.registred-container button {
    width: 80px;
    height: 25px;
    border-radius: 6px;
    background-color: rgb(48, 153, 48);
    color: rgb(255, 255, 255);
    cursor: pointer;
}