.createSupplier-backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.createSupplier-container {
    background-color: rgb(29, 201, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.createSupplier-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createSupplier-form label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: larger;
    margin: 10px 0 10px 0;
}

.createSupplier-form input {
    font-size: larger;
    height: 50px;
    width: 320px;
    border: 0;
    border: solid black 1px;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 4px 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.createSupplierForm-buttons {
    padding: 20px;
}

.createSupplierForm-buttons button {
    width: 160px;
    height: 50px;
    border-radius: 12px;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: larger;
}

.confirmSubmitButton {
    background-color: rgb(0, 255, 21);
    color: white;
}

.confirmSubmitButton:hover {
    background-color: white;
    color: rgb(0, 255, 21);
}

.cancelSubmitButton {
    background-color: crimson;
    color: white;
}

.cancelSubmitButton:hover {
    background-color: white;
    color: crimson;
}

.error {
    background-color: crimson;
    width: 200px;
    color: white;
    border-radius: 5px;
    overflow: hidden;
}